[Desktop Entry]
Comment=AOL Instant Messenger Client
Comment[az]=AOL Instant Messenger Proqramı
Comment[bg]=Клиент на AOL Instant Messenger
Comment[bs]=AOL Instant Messenger klijent
Comment[ca]=Un client de missatgeria instantània AOL
Comment[cs]=Klient pro službu AOL Instant Messenger
Comment[da]=AOL Instant Messenger Klient
Comment[de]=AOL Instant Messenger-Programm
Comment[el]=πελάτης AOL Instant Messenger
Comment[eo]=AOL-Rapidmesaĝilo-kliento
Comment[es]=Cliente de mensajería instantánea de AOL
Comment[et]=AOL Instant Messenger rakendus
Comment[fi]=AOL pikaviestiohjelma
Comment[fr]=Client AOL Instant Messenger
Comment[gl]=Cliente do Instant Messenger de AOL
Comment[he]=AOL Instant Messenger תינכות
Comment[hr]=AOL Instant Messenger klijent
Comment[hu]=AOL azonnali üzenetküldő kliens
Comment[is]=AOL samtalsbiðill (Instant Messenger)
Comment[it]=Client per messaggi istantanei di AOL
Comment[ja]=AOL Instant Messenger クライアント
Comment[ko]=AOL 쪽지 클라이언트
Comment[lt]=AOL Instant Messenger klientas
Comment[lv]=AOL Instant Messendžera Klients
Comment[mk]=AOL клиент за инстант-пораки
Comment[mt]=Klijent għal AOL Instant Messenger
Comment[nl]=AOL Instant Messenger Cliënt
Comment[no]=AOL Instant Messenger-klient
Comment[no_NY]=AOL Instant Messenger-klient
Comment[oc]=Un client de missatgeria instantania AOL
Comment[pt_BR]=Cliente AOL Instant Messenger
Comment[pt]=Cliente de AOL Instant Messenger
Comment[ru]=Клиент службы AOL Instant Messenger
Comment[sl]=Odjemnik za sporočila prek AOL
Comment[sr]=AOL Instant Messenger klijent
Comment[sv]=AOL Instant Messenger-klient
Comment[ta]=AOL ¯¼ÉÊ à¾÷ ¸ÕÅ¢
Comment[tr]=AOL Instant Messenger Programı
Comment[uk]=Клієнт AOL Instant Messenger
Comment[vi]=Client cho trình gửi thông điệp tức thời AOL(AIM)  
Comment[xh]=Umxhasi ongumthunywa wangoku we AOL
Comment[zh_CN.GB2312]=AOL 即时消息客户程序
BinaryPattern=kit;
Protocols=
Name=Kit
Name[eo]=AOL-Rapidmesaĝilo
Name[fr]=Client de messagerie AOL
Name[hu]=Kit AOL IM-kliens
Name[ja]=AOLチャットクライアント
Name[ko]=키트
Name[lv]=Komplekts
Name[xh]=Impahla
Name[zh_CN.GB2312]=工具
MimeType=
DocPath=kit/index.html
Exec=kit
Icon=kit
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
