[Desktop Entry]
Type=Link
DocPath=lisa/index.html 
URL=lan:/
Icon=network
Name=Local Network
Name[az]=Yerli Şəbəkə
Name[bg]=Локална мрежа
Name[cs]=Lokální síť
Name[da]=Lokalt netværk
Name[de]=Lokales Netzwerk
Name[el]=Τοπικό Δίκτυο
Name[eo]=Loka reto
Name[es]=Red local
Name[et]=Kohalik võrk
Name[fi]=Paikallisverkko
Name[fr]=Réseau local
Name[he]=תימוקמ תשר
Name[hu]=Helyi hálózat
Name[is]=Staðarnet
Name[it]=Rete locale
Name[ja]=ローカルネットワーク
Name[ko]=지역 네트워크
Name[lt]=Vietinis tinklas
Name[lv]=Lokālais Tīkls
Name[mt]=Network Lokali
Name[nl]=Lokaal netwerk
Name[no]=Lokalt nettverk
Name[no_NY]=Lokalt nettverk
Name[pl]=Sieć lokalna
Name[pt_BR]=Rede local
Name[pt]=Rede Local
Name[ru]=Локальная сеть
Name[sk]=Lokálna sieť
Name[sl]=Lokalno omrežje
Name[sr]=Lokalna mreža
Name[sv]=Lokalt nätverk
Name[ta]=¯ûÇ¸ Å¨Ä
Name[tr]=Yerel Ağ
Name[uk]=Локальна мережа
Name[vi]=Mạng nội bềE
Name[xh]=Umsebenzi womnatha wobulali
Name[zh_CN.GB2312]=局域网
Open=false
X-KDE-TreeModule=Directory
