[Desktop Entry]
Type=Service
Name=KNewsticker Source File Properties Page
Name[az]=KNewsticker Mənbə Faylı Xüsusiyyətləri Səhifəsi
Name[cs]=Popis vlastností zdrojového souboru programu KNewsticker
Name[da]=KNewsticker kildefil egenskaber side
Name[de]=KNewsticker: Einstellungsseite für Quelldateien
Name[eo]=Ecopaĝo por Novaĵprezentilaj fontdosieroj
Name[es]=Página de propiedades de archivos fuente de KNewsticker
Name[et]=KNewsticker lähtefaili omaduste dialoog
Name[fi]=KNewsticker lähdetiedostojen asetussivu
Name[fr]=Page des propriétés du fichier source de kNewsTicker
Name[he]=KNewsticker לש רוקמה יצבק ינייפאמ
Name[hu]=A KNewsTicker forrásfájlok tulajdonságlapja
Name[is]=Stillisíða KNewsticker
Name[it]=Pagina proprietà file sorgente di notizie per KNewsticker
Name[ja]=KNewsticker ソースファイルプロパティページ
Name[lt]=KNewsticker išeities teksto bylos savybių puslapis
Name[lv]=KZiņutikkera Avota Faila Īpašību Lapa
Name[mt]=Paġna ta' Propjetajiet Fajl ta' Sors KNewsticker
Name[nl]=KNewsticker Bronbestand Eigenschappenpagina
Name[no_NY]=Eigenskapsside for KNewsticker-kjeldefil
Name[pl]=Strona właściwości pliku źródłowego KNewsTickera
Name[pt_BR]=Página de Propriedades do Arquivo de Origem do KNewsticker
Name[pt]=Página de Propriedades do Ficheiro de Origem do KNewsticker
Name[ru]=Страница свойств сведений о файле KNewsticker
Name[sk]=Popis vlastností konfiguračného súboru pre KNewsticker
Name[sl]=Stran z lastnostmi za izvorno datoteko KNewsTicker
Name[sr]=KNewsticker strana za podešavanje izvornih fajlova
Name[sv]=Nyhetsövervakarens sida för källfilsegenskaper
Name[tr]=KNewsticker Kaynak Dosyası Özellikler Sayfası
Name[uk]=Сторінка властивостей вихідного файлу KNewsticker
Name[vi]=Trang tính chất củ file nguồn KNewsticker 
Name[xh]=Umchola-choli weendaba ze K wephepha lefayile yemvelaphi yempahla
Name[zh_CN.GB2312]=KNewsticker 源文件属性页
X-KDE-Library=libkntsrcfilepropsdlg
ServiceTypes=KPropsDlg/Plugin,text/rdf,text/rss
