[Desktop Entry]
Name=News Ticker
Name[az]=Xəbər Gözləyici
Name[bg]=Монитор с новини
Name[da]=Telegraf
Name[de]=Newsticker
Name[eo]=Novaĵprezentilo
Name[es]=Teletipo de noticias
Name[et]=Uudiste tikker
Name[fi]=Uutisnäyttäjä
Name[fr]=Téléscripteur
Name[he]=תושדח גצ
Name[hu]=Hírmegjelenítő
Name[is]=Fréttastrimill
Name[it]=Ticker notizie
Name[ja]=ニュース ティッカー
Name[ko]=새소식 표시기
Name[lv]=Ziņu Tikkers
Name[nl]=Nieuwsticker
Name[no]=Telegraf
Name[no_NY]=Telegraf
Name[pt_BR]=Notícias
Name[pt]=Notícias
Name[ru]=Монитор новостей
Name[sl]=Sprejemanje novic
Name[sv]=Nyhetsövervakare
Name[tr]=Haber Gözleyici
Name[uk]=Стрічка новин
Name[vi]=Trình kiểm tra news 
Name[xh]=Umchola-choli weendaba
Name[zh_CN.GB2312]=新闻简报
Comment=A Newsticker Applet for KDE
Comment[az]=KDE üçün bir Xəbər Gözləyici
Comment[bg]=Аплет за новини за KDE
Comment[cs]=Applet s novinkami pro KDE
Comment[da]=Et nyhedsprogram for KDE
Comment[de]=Ein Newsticker-Programm für KDE
Comment[eo]=Novaĵprezenta-aplikaĵeto por KDE
Comment[es]=Un applet Teletipo de noticias para KDE
Comment[et]=Uudiste jälgimise aplett
Comment[fi]=Uutisnäyttäjäsovelma KDE:lle
Comment[fr]=Une applet pour afficher les nouvelles dans KDE
Comment[he]=KDE-ל תושדח גצ ןומושיי
Comment[hu]=Hírmegjelenítő kisalkalmazás
Comment[is]=Íforrit sem birtir fréttastrimil
Comment[it]=Una applet delle notizie per KDE
Comment[ja]=KDEのNewstickerアプレット
Comment[ko]=KDE용 새소식 표시기
Comment[lt]=KDE Newsticker priemonė
Comment[lv]=KDE Ziņutikkera Aplets
Comment[mt]=Applet "Newsticker" għall-KDE
Comment[nl]=een nieuwstickerapplet voor KDE
Comment[no]=Nyhets telegraf-applet for KDE
Comment[no_NY]=Nyhendetelegraf-applet for KDE
Comment[pl]=Programik Newsticker dla KDE
Comment[pt_BR]=Um aplicativo de notícias para o KDE
Comment[pt]='Applet' de extracção de notícias para o KDE
Comment[ru]=Аплет новостей для KDE
Comment[sk]=Applet NewsTicker pre KDE
Comment[sl]=Vstavek za prikazovanje novic v KDE
Comment[sr]=Newsticker aplet za KDE
Comment[sv]=Ett nyhetsminiprogram för KDE
Comment[ta]=KDE-ì¸¡É ´Õ Newsticker ÌÚõÀÂý
Comment[tr]=KDE için bir Haber Gözleyici
Comment[uk]=Аплет стрічки новин для KDE
Comment[vi]=Applet của Newsticker cho KDE 
Comment[xh]=i Applet yomchola-choli weendaba we KDE
Comment[zh_CN.GB2312]=KDE 新闻简报小程序
Exec=knewsticker %i %m -caption "%c"
Icon=knewsticker
Type=Application
Terminal=0
X-KDE-Library=libknewstickerapplet
X-KDE-UniqueApplet=true
