[Desktop Entry]
Type=Application
Exec=kdict -caption "%c" %i %m
Icon=kdict
Terminal=0
Name=Kdict
Name[cs]=KDict
Name[eo]=Vortaroserĉo
Name[et]=KDict
Name[fr]=Dictionnaire
Name[hu]=KDict szótárprogram
Name[is]=Orðabók
Name[ko]=K사전
Comment=The KDE Dict(ionary) Client
Comment[az]=KDE Sözlük alıcısı
Comment[bg]=Речник за KDE
Comment[cs]=Klient KDict pro KDE
Comment[da]=KDE Ord(bogs)-klient
Comment[de]=Das KDE-Lexikonprogramm
Comment[el]=Πελάτης KDE Dict(ionary)
Comment[eo]=La KDEa kliento por DICT-vortaroj
Comment[es]=El cliente de diccionario (Dict) de KDE
Comment[et]=KDE Dict(ionary) klient
Comment[fi]=KDE sanakirja-asiakas
Comment[fr]=Le dictionnaire de KDE
Comment[he]=KDE לש ןולימה תינכות
Comment[hu]=KDE szótárkezelő kliens
Comment[is]=kdict:  KDE orðabókarskoðarinn
Comment[it]=Il Dizionario di KDE
Comment[ja]=KDE 辞書 クライアント
Comment[ko]=KDE용 사전 클라이언트
Comment[lt]=KDE žodyno klientas (KDict)
Comment[lv]=KDE Vārdnīcas Klients
Comment[mt]=Klijent għad-dizzjunarju KDE (KDEDict)
Comment[nl]=cliënt voor de KDE Dict(ionary)  (KDE's woordenboek)
Comment[no]=KDEs dict-klient (ordbok)
Comment[no_NY]=Ordboksklient for KDE
Comment[pl]=Klient Słownika dla KDE
Comment[pt_BR]=O cliente de dicionário do KDE
Comment[pt]=O cliente de dicionário do KDE
Comment[ru]=словарь для KDE
Comment[sk]=KDE klient pre slovník
Comment[sl]=Odjemnik za KDE Slovar
Comment[sr]=KDE Dict klijent
Comment[sv]=KDE:s ordlistsklient
Comment[tr]=KDE Sözlük istemcisi
Comment[uk]=Клієнт KDE Dict(ionary)
Comment[vi]=Client cho KDE Dict 
Comment[xh]=Umxhasi wedikshinari we KDE
Comment[zh_CN.GB2312]=KDE 字典程序
X-KDE-StartupNotify=true
