[Desktop Entry]
Type=Application
Icon=samba
Exec=kcmshell lanbrowser

X-KDE-ModuleType=Library
X-KDE-Library=lanbrowser

Name=LAN Browsing
Name[az]=LAN Gəzmə
Name[bg]=Преглед на локална мрежа
Name[cs]=Prohlížení lokální sítě
Name[da]=Surf på LAN.
Name[de]=LAN-Browser
Name[el]=Περιήγηση LAN
Name[eo]=Loka Reto
Name[es]=Navegación en LAN
Name[et]=Kohaliku võrgu lehitsemine
Name[fi]=LAN-selailu
Name[fr]=Réseau local
Name[he]=תימוקמ תשר
Name[hu]=Böngészés a helyi hálózaton
Name[is]=Flakk um staðarnet
Name[it]=Navigazione LAN
Name[ja]=LAN ブラウズ
Name[ko]=랜(LAN) 탐색기
Name[lt]=Vietinio tinklo naršymas
Name[lv]=LAN Pārlūkošana
Name[mk]=Разгледување на LAN
Name[mt]=Browsing tal-LAN
Name[nl]=LAN-Browsen
Name[no]=Lan-surfing
Name[no_NY]=LAN-surfing
Name[pl]=Przeglądanie sieci lokalnej
Name[pt_BR]=Navegação LAN
Name[pt]=Navegação na Rede Local
Name[ru]=Просмотр локальной сети
Name[sk]=Prehliadanie siete LAN
Name[sl]=Brskanje po LAN
Name[sr]=Pretraga po LAN-u
Name[sv]=LAN-bläddring
Name[ta]=LAN ¯Ä¡Åø
Name[tr]=LAN Tarama
Name[uk]=Перегляд ЛОМ
Name[vi]=Duyệt LAN 
Name[xh]=Ukhangelo zincwadi ze LAN
Name[zh_CN.GB2312]=LAN 浏览

Comment=setup lisa, reslisa and the ioslaves
Comment[az]=lisa, reslisa və ioslaves qurulumu
Comment[bg]=настройки на lisa, reslisa и ioslaves
Comment[ca]=Arranja lisa, reslisa i els ioslaves
Comment[cs]=Nastavení Lisa, ResLisa a pomocných zařízení
Comment[da]=opsætning lisa, reslisa og ioslaves
Comment[de]=lisa, reslisa und Ein/Ausgabe-Module einrichten
Comment[eo]=Agordo de Lisa, Reslisa kaj la Enel-sklavoj
Comment[es]=Configura Lisa, Reslisa y los slaves de E/S.
Comment[et]=Lisa, reslisa ja IO moodulite seadistus
Comment[fi]=aseta lisaa, io-palvelimet
Comment[fr]=configuration lisa,lisa,reslisa,réseau
Comment[he]=ioslaves-הו reslisa ,lisa תורדגה
Comment[hu]=A lisa, a reslisa és a KDE protokollok beállítása
Comment[is]=Stilla lisa, reslisa og I/Ú-þræljana
Comment[it]=imposta lisa, reslisa e gli ioslave
Comment[ko]=리사(lisa)와 레스리사(reslisa) 그리고 IO 슬레이브 설정
Comment[lt]=lisa įdiegimas, reslisa ir ioslaves
Comment[lv]=setup lisa, reslisa un iovergi
Comment[mk]=поставување на lisa, reslisa и ioslaves
Comment[mt]=Issettja lisa, reslisa u l-ioslaves
Comment[nl]=lisa instellen, reslisa en de ioslaves
Comment[no]=Oppsett av lisa, reslisa og i/u-slavene
Comment[no_NY]=Oppsett av lisa, reslisa og i/u-slavane
Comment[pl]=konfiguracja lisy,reslisa i związanych procedur wejścia/wyjścia
Comment[pt_BR]=configurar lisa, relisa e os ioslaves
Comment[pt]=Configurar o lisa, o reslisa e os ioslaves
Comment[ru]=настройки lisa, reslisa и ioslaves
Comment[sk]=nastavenie lisa,reslisa a io klienti
Comment[sl]=Usposobite lisa, reslisa in ioslaves
Comment[sr]=podesi lisa, reslisa i ioslave-ove
Comment[sv]=ställ in lisa, reslisa och io-slavarna
Comment[ta]=lisa, reslisa ÁüÚõ ioslaves¸¨Ç ÅÊÅ¨Áì¸×õ
Comment[tr]=lisa, reslisa ve ioslaves kurulumu
Comment[uk]=встановлення lisa,reslisa та ioslaves
Comment[vi]=Cài đặt lisa,reslisa và các ioslave 
Comment[xh]=cwangcisa ilisa, reslisa ne ioslaves
Comment[zh_CN.GB2312]=设置 lisa、reslisa和ioslaves

