[Desktop Entry]
Icon=ktalkd
Type=Application
DocPath=kcontrol/talk.html
Exec=kcmshell kcmktalkd

X-KDE-ModuleType=Library
X-KDE-Library=ktalkd
X-KDE-FactoryName=ktalkd

Name=Talk Configuration
Name[az]=Talk quraşdırması
Name[cs]=Nastavení talku
Name[da]=Talk indstilling
Name[de]=Talk-Einrichtung
Name[eo]=Agordo de "Talk"
Name[es]=Configuración de Talk
Name[et]=Talk seadistamine
Name[fi]=Talk asetukset
Name[fr]=Configuration de Talk
Name[he]=Talk תורדגה
Name[hu]=A talk beállításai
Name[is]=Samtalsþjónsstilling
Name[it]=Configurazione talk
Name[ja]=Talkの設定
Name[lt]=Talk konfigūravimas
Name[lv]=Runas Konfigurācija
Name[mt]=Konfigurazzjoni Talk
Name[nl]=Talk-configuratie
Name[no]=Talk-oppsett
Name[no_NY]=Talk-oppsett
Name[pl]=Konfiguracja talk
Name[pt_BR]=Configuração do Talk
Name[pt]=Talk
Name[ru]=Настройка Talk
Name[sk]=Konfigurácia talku
Name[sl]=Nastavitev talk
Name[sr]=Konfiguracija Talk-a
Name[sv]=Anpassning av talk
Name[ta]=§ÀîÍ ÅÊÅ¨ÁôÒ
Name[tr]=Talk yapılandırması
Name[uk]=Конфігурація Talk
Name[vi]=Cấu hình Talk 
Name[xh]=Uqwalaselo lwencoko
Name[zh_CN.GB2312]=Talk 配置

Comment=Talk daemon configuration
Comment[az]=Talk quraşdırması
Comment[bg]=Настройка на Talk демона
Comment[bs]=Postava talk daemona
Comment[ca]=Configuració del dimoni talk
Comment[cs]=Nastavení démona talk
Comment[da]=Talkdæmon indstilling
Comment[de]=Einrichtung des Talk-Dämons
Comment[el]=Ρύθμιση του δαίμονα talk
Comment[eo]=Agordo de la "Talk"-demono
Comment[es]=Configuración del demonio Talk
Comment[et]=Talk deemoni seadistamine
Comment[eu]=Talk demonioaren konfigurazioa
Comment[fi]=Talk-palvelimen asetukset
Comment[fr]=Configuration du démon Talk
Comment[gl]=Configuración do daemon de talk
Comment[he]=Talk-ה תרש תורדגה
Comment[hr]=Postava talk daemona
Comment[hu]=A talk szolgáltatás beállítása
Comment[is]=Stillingar samtalsþjóns
Comment[it]=Configurazione del demone per il talk
Comment[ja]=Talk daemon の設定
Comment[ko]=이야기 데몬 설정
Comment[lt]=Pokalbių demono derinimas
Comment[lv]=Runas dēmona konfigurācija
Comment[mk]=Конфигурирање на talk-демонот
Comment[mt]=Konfigurazzjoni tad-daemon Talk
Comment[nl]=Talk-daemon-configuratie
Comment[no]=Oppsett av Talk-daemonen
Comment[no_NY]=Oppsett av talk-demonen
Comment[oc]=Configuracion dèu dimoni talk
Comment[pl]=Konfiguracja demona talk
Comment[pt_BR]=Configuração do daemon Talk
Comment[pt]=Configuração do talk
Comment[ru]=Настройка Talk демона
Comment[sk]=Nastavenie talk démona
Comment[sl]=Nastavitev programa za talk
Comment[sr]=Konfiguracija talk demona
Comment[sv]=Anpassning av talk-demonen
Comment[ta]=Talk daemon ÅÊÅ¨ÁôÒ
Comment[tr]=Talk sunucu programı yapılandırması
Comment[uk]=Налаштування демону Talk
Comment[vi]=Cấu hình daemon Talk 
Comment[xh]=Uqwalaselo lwedaemon yencoko
Comment[zh_CN.GB2312]=Talk 服务进程配置

Keywords=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination
Keywords[az]=talk,e'lan,alıcı,Səs,cavablama,poçt,çağıran,bayraq,yolla,hədəf
Keywords[cs]=Talk,Rozhovor,Oznámení,Klient,Zvuk,Odpovídání,Pošta,Volající,Banner,Předání,Určení
Keywords[da]=talk,annoncering,klient,lyd,svar,post,opringer,banner,fremad,mål
Keywords[de]=Talk,Ankündigung,Client,Sound,Antwort,Mail,Banner,Forward,Weiterleitung
Keywords[el]=talk,ανακοίνωση,πελάτης,ήχος,απάντηση,mail,καλών,banner,προώθηση,προορισμός
Keywords[eo]=parolo,anonco,babilo,kliento,sonoro,respondo,retpoŝto,alvokanto,flago,plusendo,celo
Keywords[es]=hablar,notificación,cliente,sonido,contestar,correo,llamador,rótulo,enviar,destino
Keywords[et]=talk,teadaanne,klient,heli,vastamine,meil,helistaja,bänner,edasisuunamine, adressaat
Keywords[fi]=talk,julkistus,asiakas,ääni,vastaus,sähköposti,soittaja,mainos,uudelleenohjaa,kohde
Keywords[fr]=talk,discussion,annonce,bavardage,client,son,réponse,mail,courrier électronique,message,appel,bannière,envoi,destination
Keywords[he]=דעי,האלה הרבעה,תיבותכ,רשקתמ,ראוד,הבושת,לילצ,תינכות,הזרכה,talk
Keywords[hu]=talk,bejelentés,kliens,hang,válasz,e-mail,hívó,üdvözlő szöveg,továbbítás,cél
Keywords[is]=talk,tilkynningar
Keywords[it]=talk,annuncio,client,suono,risposte,posta,chiamante,messaggio,inoltra,destinazione
Keywords[ja]=トーク,アナウンス,クライアント,音,answering,メール,呼出側,バナー,前へ,行き先
Keywords[ko]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,이야기,토크,톡,알림,알려줌,클라이언트,소리,답신,댓거리,답신,편지,부른이,콜,깃발,기,배너,전달,포워드
Keywords[lt]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,pokalbis,anonsas,klientas,garsas,atsakymas,laiškas,skambintojas,skydelis,persiųsti,gavėjas
Keywords[lv]=runa,paziņojums,klients,skaņa,atbildēšana,pasts,saucējs,banners,pārsūtīt,adresāts
Keywords[mt]=talk,annunzja,announcement,client,sound,answering,mail,caller,banner,forward,destination
Keywords[nl]=talk,aankondiging,cliënt,sound,geluid,beantwoorden,mail,caller,banner,banier,bestemming,forward,doorsturen,destination,antwoordapparaat
Keywords[no]=talk,kunngjøring,klient,lyd,svar,post,oppringing,fane,videresend,mKeywords=talk,kunngjøring,klient,lyd,svar,post,oppringing,fane,videresend,mål
Keywords[no_NY]=talk,kunngjering,klient,lyd,svar,post,oppringing,vidaresend,mål
Keywords[pl]=rozmowa,ogłoszenie,klient,dźwięk,odpowiadanie,mail,dzwoniący,banner,podaj dalej,cel
Keywords[pt_BR]=talk,anúncio,cliente,som,resposta,e-mail,correio,chamador,banner,repassar,destino
Keywords[pt]=talk,anúncio,cliente,som,resposta,correio,chamador,mensagem,reenviar,destino
Keywords[sk]=talk,oznámenie, klient,zvuk,odpoveď,mail,pošta,volajúci,cieľ,predať ďalej
Keywords[sl]=talk,govor,objava,odjemnik,zvok,odgovarjanje,pošta,klicatelj,reklama,posredovanje,cilj
Keywords[sv]=talk,annonsering,klient,ljud,svar,e-post,uppringare,rubrik,vidarebefordran,destination
Keywords[tr]=talk,duyuru,istemci,Ses,cevaplama,posta,çağıran,bayrak,gönder,hedef
Keywords[uk]=розмова,оголошення,клієнт,звук,відповідь,пошта,заставка,переслати,talk,призначення
Keywords[vi]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,nói chuyện,thông báo,âm thanh,trả lời,chuyển,đích 
Keywords[xh]=ncokola,isaziso,umxhasi,isandi,iyaphendula,iposi,umbizi,iceba lelaphu elinomyalezo,phambili,indawo ekungqongileyo
Keywords[zh_CN.GB2312]=talk,announcement,client,sound,answering,mail,caller,banner,forward,destination,通知,客户程序,声音,应答,邮件,呼叫者,转发,目标

